/* Write your CSS here */
.bg-container {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 70vw;
}
.heading {
  color: #0f172a;
  font-size: 50px;
}
.para {
  color: #334155;
  font-size: 30px;
}
.para1 {
  color: #334155;
  font-size: 20px;
}
.button {
  width: 150px;
  height: 50px;
  font-size: 20px;
}
